.toolbar {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 99;
    width: 100%;
    padding: 5px 10px;
    background: #4aa153;
    box-sizing: border-box;
    &>* {
        align-self: center;
    }
    .username {
        font-size: 12px;
        margin-left: auto;
        &+* {
            margin-left: unset;
        }
    }
    .auth {
        padding: 0 10px;
        button {
            background: #FFFFFF;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            line-height: 1;
            font-size: 10px;
            padding: 10px 14px;
            white-space: nowrap;
        }
    }
    .toogle-menu {
        cursor: pointer;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .toolbar {
        .username {
            font-size: 16px;
        }
        .toogle-menu {
            display: none;
        }
    }
}

@media only screen and (min-width: 992px) {
    .toolbar {
        .auth {
            button {
                padding: 12px 25px;
                font-size: 16px;
            }
        }
    }
}