.navs {
    display: block;
    height: 100vh;
    width: 200px;
    position: fixed;
    background: #ccc;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .3s linear;
    z-index: 9;
    &.show-mobile {
        transform: translateX(0);
        opacity: 1;
        .close {
            position: absolute;
            top: 0;
            right: 10px;
            color: white;
            font-size: 25px;
            line-height: 1;
            cursor: pointer;
        }
    }
    &-items {
        ul {
            margin: 0;
            padding: 0;
            li,
            li a {
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
                border: 2px solid transparent;
                transition: all 0.5s linear;
                border-radius: 3em;
                color: white;
            }
            li a {
                font-size: 17px;
                text-decoration: none;
                padding: 10px;
                width: 50%;
                &:hover,
                &.active {
                    text-decoration: underline;
                    text-decoration-style: double;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .navs {
        position: unset;
        height: auto;
        width: auto;
        position: unset;
        background: unset;
        top: unset;
        left: unset;
        transform: unset;
        opacity: unset;
        .close {
            display: none;
        }
        &-items {
            ul {
                li,
                li a {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }
}