.page-wrapper {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

@media only screen and (min-width: 992px) {
    .page-wrapper {
        max-width: 1172px;
        margin: 0 auto 50px;
        padding: 10px 10px 50px;
        height: 100%;
    }
}