.theme {
    &-switcher {
        position: relative;
        margin-left: auto;
        line-height: 0;
        padding: 0 5px;
        &>* {
            white-space: nowrap;
            overflow: hidden;
            color: transparent;
        }
    }
    &-show {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #fff;
        cursor: pointer;
        &.light {
            background-color: #fff;
        }
        &.dark {
            background-color: #237630;
        }
    }
    &-options {
        position: absolute;
        top: 35px;
        background: #006027;
        z-index: 1;
        transform: translateX(-50%);
        border-radius: 4px;
        box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, .45);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear;
        li {
            padding: 7px 12px;
            line-height: 0;
            cursor: pointer;
            &:hover {
                background: #1F8B3F;
            }
        }
        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
    &-item {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #fff;
        &.dark {
            background-color: #237630;
        }
        &.light {
            background-color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .theme {
        &-switcher {
            padding: 0 10px;
        }
    }
}