.language {
    position: relative;
    padding: 0;
    &-active {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    &-options {
        position: absolute;
        top: 35px;
        right: 0;
        background: #006027;
        z-index: 1;
        border-radius: 4px;
        box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.45);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear;
        width: 140px;
        &.show {
            visibility: visible;
            opacity: 1;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px 15px;
            &:hover {
                background: #1F8B3F;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-size: 14px;
            }
            span {
                color: #fff;
            }
            .flag {
                width: 27px;
                height: 27px;
                display: inline-block;
            }
        }
    }
}

.flag {
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    background-size: cover;
    font-size: 0;
}

@media only screen and (min-width: 768px) {
    .language {
        padding: 0 10px;
    }
}