.footer {
    text-align: center;
    padding: 20px;
    border: 3px solid #eee;
    a {
        text-decoration: none;
        color: #000;
        word-break: break-word;
    }
}

@media only screen and (min-width: 992px) {
    .footer {
        padding: 45px;
    }
}