.icons {
    text-align: center;
    &-search {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        input {
            width: 90%;
            border: 1px solid #ccc;
            padding: 0px 7px;
        }
        i {
            border: 1px solid #ccc;
            font-size: 22px;
            padding: 5px;
            line-height: 1;
            border-left: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &-list {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    &-item-wrap {
        position: relative;
        background: #eee;
        width: 100%;
        margin: 3px;
        padding: 5px;
        box-sizing: border-box;
        &::before {
            content: 'Click to copy';
            background: #000;
            color: #fff;
            font-size: 12px;
            padding: 0 7px;
            position: absolute;
            top: 0;
            right: 0;
        }
        &.dark {
            background: #000;
        }
    }
    &-icon {
        padding: 15px;
        font-size: 32px;
    }
    &-code {
        background-color: #000;
        color: #fff;
        font-size: 12px;
        line-height: 1;
        padding: 3px;
    }
}

@media only screen and (min-width: 768px) {
    .icons {
        &-item-wrap {
            width: calc(50% - 6px);
            overflow: hidden;
            cursor: pointer;
            &:before {
                transform: translateY(-100%);
                transition: transform .3s linear;
            }
            &:hover {
                &:before {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .icons {
        &-item-wrap {
            width: calc(25% - 6px);
        }
    }
}