.news {
    display: flex;
    flex-wrap: wrap;
    &-title {
        margin: 0 auto;
        padding: 15px 0;
    }
    &-item {
        width: 100%;
        display: flex;
        padding: 10px;
        overflow: hidden;
        color: black;
        &:nth-child(odd) {
            background: #eee;
        }
    }
    &-thumbnail {
        width: 45%;
        img {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
    }
    &-content {
        padding-left: 10px;
        width: 65%;
        h2,
        p {
            margin: 0;
        }
        h2 {
            font-size: 15px;
            line-height: 1;
            height: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        a {
            font-size: 13px;
            float: right;
        }
    }
    &-author {
        font-size: 14px;
        font-weight: bold;
        color: #ccc;
        white-space: nowrap;
        span {
            color: red;
        }
    }
    &-des {
        font-size: 13px;
        margin-top: 10px;
        padding-top: 5px;
        height: 55px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #A5A5A5;
        font-weight: 400;
        line-height: 1.3;
    }
}

@media only screen and (min-width: 768px) {
    .news {
        &-content {
            h2 {
                font-size: 22px;
                -webkit-line-clamp: unset;
                height: auto;
                -webkit-box-orient: unset;
                line-height: 1.3;
                padding: 5px 0;
                display: block;
            }
        }
        &-des {
            font-size: 16px;
            height: 65px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .news {
        &-content {
            padding: 5px 25px;
            h2 {
                font-size: 30px;
            }
            a {
                font-size: 16px;
            }
        }
        &-des {
            font-size: 20px;
            height: 80px;
            padding-top: 15px;
            overflow: hidden;
        }
        &-author {
            font-size: 17px;
        }
        &-item {
            min-height: 230px;
            padding: 35px 20px;
        }
        &-thumbnail {
            img {
                height: 100%;
            }
        }
    }
}