.messages {
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-weight: bold;
    width: 18rem;
    border-radius: 5px;
    display: none;
    right: 20px;
    top: 40px;
    &.show {
        display: block;
    }
    &-item {
        position: relative;
        animation: fadeIn 0.7s forwards cubic-bezier(0.74, -0.24, 0.43, 1.46), fadeOut 1s 3.5s forwards cubic-bezier(0.74, -0.24, 0.43, 1.46);
        &:hover {
            animation-play-state: paused;
            .timelife {
                animation-play-state: paused;
            }
        }
        &.success {
            background-color: #07bc0c;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            padding: 20px 0;
            margin: 10px 0;
        }
    }
    .timelife {
        position: absolute;
        background: #b5ebb7;
        width: 100%;
        height: 5px;
        bottom: 0;
        transition: all 3s 1s linear;
        transform-origin: left;
        width: 100%;
        animation: trackProcess 3s 0.7s forwards linear;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes trackProcess {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@media only screen and (min-width: 768px) {
    .messages {
        right: 5px;
        width: 23rem;
        &-item {
            &.success {
                font-size: 17px;
            }
        }
    }
}